*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    background: #222222;
    height: 76px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-logo{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 40px;
    padding-left: 4px;
}
.header-nav{
    display: flex;
    list-style-type: none;
    gap: 33px;
    align-items: center;
    padding-right: 4px;
}
.header-new{
    display: flex;
    justify-content: space-between;
    background: #F8F3F4;
    padding: 0px 3px;
}
.new{
    padding-top: 59px;
    padding-bottom: 60px;
    text-decoration: none;
    font-size: 24px;
    color: #F16D7F;
    display: block;
}
.header-home{
    margin-top: 65px;
    display: flex;
}
.link{
    display: flex;
}
.link a{
    text-decoration: none;
}
.link li{
    list-style-type: none;
}

.hom{
    font-size: 14px;
    color: #636363;
}
.hom:hover{
    color: #F16D7F;
}
.arriva{
    font-size: 14px;
    color: #F16D7F;
}
.mega-box{
    display: none;
    position: absolute;
    background-color: #fff;
    width: 232px;
    margin-top: 12px;
    flex-direction: column;
}
.vector{
    position: absolute;
    margin-left: 139px;
    margin-top: 16px;
}
.mega-item{
    margin-left: 32px;
}
.mega-menu{
    font-size: 14px;
    color: #000000;
    margin-bottom: 24px;
    padding-top: 37px;
}
.mega-heading{
    margin-bottom: 14px;
    color: #F16D7F;
    font-size: 14px;
}
.mega-box::before{
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    top: -8px;
    left: 35px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8 ;
    border-left: 1px solid #e8e8e8;
}
.mega-link{
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-bottom: 11px;
    margin-left: 21px;
}
.mega-link:hover{
    color: #F16D7F;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 71px;
    background: #F1E4E6;
    height: 764px;
}
.man-text{
    width: 377px;
    height: 93px;
    border-left: 12px solid #F16D7F;
    padding-left: 12px;
}
.colortext-man{
    font-size: 32px;
    line-height: 38px;
    color: #F16D7F;
}
.man{
    margin-left: -207px;
}
.brand{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
.of{
    font-size: 32px;
    color: #222222;
}
.fashion{
    font-size: 32px;
    color: #F16D7F;
}
.content-info{
    display: flex;
    gap: 30px;
    margin-bottom: 96px;
}
.for-woman{
    background-image: url(image/for\ woman.jpg);
    background-repeat: no-repeat;
    width: 360px;
    height: 260px;
    text-align: center;
    padding-top: 105px;
}
.for-man{
    background-image: url(image/for\ man.jpg);
    background-repeat: no-repeat;
    width: 360px;
    height: 260px;
    text-align: center;
    padding-top: 105px;
}
.for-kids{
    background-image: url(image/for\ kids.jpg);
    background-repeat: no-repeat;
    width: 360px;
    height: 260px;
    text-align: center;
    padding-top: 105px;
}
.colortext{
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.off{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.accesories{
  background-image: url(image/accesories.jpg);  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
  text-align: center;
  padding-top: 55px;
  margin-top: -175px;
}
.colortext-lux{
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}
.brand-lux{
    font-weight: 900;
    font-size: 48px;
    line-height: 35px;
    color: #222222;
}
.button{
    background:transparent;
    border: none;
    padding: 0;
}
.button-counts{
    background: #F16D7F;
    font-size: 12px;
    color: #FFFFFF;
    padding: 2px 6px;
    border-radius: 100%;
    position: absolute;
    bottom: 21px;
    right: -7px;
}
.button-item{
    position: relative;
}
.content-shop{
    text-align: center;
}
.fs{
    display: flex;
    flex-direction: column;
}
.fetured{
    display: block;
    font-size: 30px;
    color: #222222;
    margin-left: 464px;
}
.shop{
    display: block;
    font-size: 14px;
    color: #9F9F9F;
    margin-top: 6px;
    margin-bottom: 48px;
    margin-left: 400px;
}
.item-box{
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.contont-item{
    width: 360px;
    position: relative;
    margin-bottom: 30px;
}
.item-pic{
    width: 100%;
}
.contont-item:hover {
    box-shadow: 0 5px 8px rgba(244, 244, 244, 0.9);
}
.contont-item:hover .item-pic{
    filter: brightness(30%);
}
.item-link{
    display: block;
    text-decoration: none;
}
.txt-desc{
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
}
.txt-price{
    font-size: 16px;
    color: #F16D7F;
    margin-top: 18px;
    display: block;
    padding-bottom: 20px; 
}.grid{
    font-size: 13px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 12px;
}
.cart-box{
    display: none;
    position: absolute;
    top: 98px;
    justify-content: center;
    width: 100%;
    pointer-events: none;
}
.contont-item:hover .cart-box{
    display: flex;
}
.cart-link{
    display: flex;
    padding: 10px;
    border: 1px solid #fff;
    text-decoration: none;
    align-items: center;
}
.add-txt{
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    margin-left: 8px;
}
.bro-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.bro-txt{
    padding: 15px 39px;
    color: #FFFFFF;
    background: #F26376;
    margin-bottom: 95px;
}
.brow-link:hover{
    color: #ffffff;
}
.footer-free{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #222224;
    gap: 30px;
}
.free{
    display: flex;
    flex-direction: column;
    width: 360px;
}
.image{
    width: 44px;
    height: 31px;
    padding-top: 103px;
    margin-left: 41%;
    padding-bottom: 28px;
}
.free-footer{
    text-align: center;
    font-size: 19.96px;line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
}
.footer-title{
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-bottom: 104px;
}
.footer-sub{
    background-image: url(image/Layer\ 41.jpg);
    background-repeat: no-repeat;
    height: 448px;
    display: flex;
}
.inter{
    width: 96px;
    height: 96px;
    margin-left: 35%;
    margin-bottom: 30px;
    margin-top: 97px;
}
.footer-sub-left{
    margin-left: 230px;
}
.vest{
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}
.footer-sub-right{
    margin-left: 223px;
    display: flex;flex-direction: column;
}
.sub{
    display: block;
    margin-top: 150px;
    font-size: 24px;
    text-align: center;
    color: #222224;
}
.for{
    display: block;
    font-size: 18px;
    text-align: center;
    color: #222224;
}
.form{
    display: flex;
    margin-top: 32px;
    margin-left: 4%;
}
.email{
    background: #E1E1E1;
    padding: 7px 65px 6px 20px;
}
.submit{
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #F16D7F;
}
.submit:hover{
    color: blueviolet;
}
.footer{
    display: block;
    height: 79px;
    background: #222224;
}
.networks{
    display: flex;
    justify-content: end;
    margin-top: -19px;
}
.copy{
    font-size: 16px;
    color: #FBFBFB;
    display: block;
    margin-left: 13px;
    padding-top: 27px;
}
.fa-brands{
    font-size: 30px;
    background-color: #fff;
    margin-right: 8px;
}
.fa-instagram-square{
    background: #F26376;
}
.fa-brands:hover{
    color: blue;
}
.cont-prod{
   margin-left: 273px;
   margin-top: 11px;
}
.content-product{
    background: #F7F7F7;

}
.cont-fa{
    display: flex;
    justify-content: space-between;
}
.fa-right{
    padding: 7px 9px;
    background: #9F9F9F;
    color: red;
}
.fa-left{
    padding: 7px 9px;
    background: #9F9F9F;
}
